/*Components: anything reusable such as buttons, navbar, cards etc. */
.bread-crumb {
  display: flex;
  align-items: center;
  list-style: none;
  padding: .5rem 0 1rem 0;
  color: rgb(85, 85, 85);

  .bars-menu {
    display: none;
    border: none;
    background-color: white;
    font-size: 1.6rem;
    padding-right: 1.2rem;
    border-right: 1px solid rgb(216, 216, 216);
    cursor: pointer;
  }

  li {
    display: inline;

    a {
      text-decoration: none;
      color: rgb(85, 85, 85);
      font-weight: 500;

      &:hover {
        color: black;
        text-decoration: underline;
      }
    }
  }

  :nth-child(2) {
    padding-left: 1.2rem;
  }

  li+li::before {
    padding: .5rem;
    content: "/\00a0";
  }
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
}

.title {
  margin-left: .5rem;
  margin-right: 6rem;
}

.counter {
  background-color: rgb(125, 229, 255);
  padding: 0 .5rem;
  border-radius: 10px;
  font-size: .8rem;
  text-align: center;
}

.wider {
  height: 3.3rem;
}

.bold {
  font-weight: bold;
}

.content-in-item {
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  cursor: pointer;

  li {
    display: block;
    width: 100%;
    list-style: none;
    margin-bottom: .1rem;
    padding: .5rem 2.1rem;

    a {
      display: block;
      width: 100%;
      color: black;
      text-decoration: none;
      margin-left: .7rem;
    }

    &:hover {
      background-color: rgb(228, 228, 228);
      border-radius: 5px;
    }
  }
}

.collapsed {
  width: 7% !important;
  transition: all 0.3s ease-in-out;

  .content-in-item {
    display: none;
  }

  .content {
    display: none;
  }

  .collapse-btn {
    display: block;
    text-align: center;
  }
}

.btn {
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  padding: .5rem;
  border-radius: 5px;

  &:hover {
    background-color: rgb(199, 199, 199);
  }

}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: .6rem;
  padding: .5rem;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgb(199, 199, 199);
  }
}

.border-grey {
  border: 1px solid grey;
}

.border-light-grey {
  border: 1px solid rgb(199, 199, 199);
}

.square-right {
  border-radius: 5px 0px 0px 5px;
}

.square-left {
  border-radius: 0px 5px 5px 0px;
}

.btn-helper {
  border: 1px solid grey;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}

.issue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 2.5rem;
  padding: .5rem;
  border-radius: 5px;
  background-color: white;
}

.new-btn {
  background-color: rgb(0, 140, 255);
  color: white !important;
  text-decoration: none;


  &:hover {
    background-color: rgb(0, 115, 209);
  }
}

.filtered-search-input {
  background-color: white;
  width: 100%;
  border: 1px solid grey;
  padding: .5rem;
  border-left: none;

  input {
    width: 100%;
    border: none;
    outline: none;
  }
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 1rem;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  top: 2.6rem;
  left: -5.3rem;

  li {
    display: block;
    width: 7.5rem;
    margin-bottom: .5rem;
    padding: .3rem .2rem;
    border-radius: 5px;

    &:hover {
      background-color: rgb(214, 214, 214);
    }
  }
}

.disable-btn {
  cursor: no-drop;
  background-color: rgb(199, 199, 199);
}

.issue-input {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 500;
    margin-bottom: .5rem;
  }

  input {
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
    padding: .3rem .5rem;

    &:focus {
      outline: 2px solid rgb(0, 140, 255);
    }
  }
}

.item-state-clicked {
  border-bottom: 2px solid rgb(45, 0, 117) !important;
}